.container {
  margin: auto;
  max-width: 600px;
  padding-top: 20px;
}

.removeTodosButton {
  background-color: rgb(92, 3, 3);
  border: none;
  border-radius: 5px;
  color: white;
  height: 40px;
  margin-top: 10px;
}

.removeTodosButton:active {
  opacity: 0.75;
}

.removeTodosButton:disabled {
  opacity: 0.6;
}

.todoListContainer {
  padding: 0px;
}
